<tr>
    <td style='
        height: 44px;
        width: 600px;
        color: #0081A2;
        font-family: Helvetica;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 44px;
        text-align: center;
        padding-bottom: 24px;
    '
    >
        Daily Submission Reminder
    </td>
</tr>
<tr>
    <td style='
        width: 600px;
        color: #333333;
        font-family: Helvetica;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
        padding-bottom: 24px;
    '
    >
        Your mandatory daily symptom check for {{date}} is ready to be completed by clicking the following link. {{questionnaireLink}}
    </td>
</tr>
<tr>
    <td style='
        width: 600px;
        color: #333333;
        font-family: Helvetica;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
    '
    >
        If you are unable to submit online, please call 1-888-245-9403.
    </td>
</tr>


